%container{
    width:1200px;
    padding-left:15px;
    padding-right:15px;
    margin:0 auto;
}

%section{
    padding-top: 94px;
    padding-bottom: 94px;
}

%list{
    padding:0;
    margin: 0;
    list-style: none;
}