$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-background-color:#2196F3;
$primary-white-color: #FFFFFF; 
$primary-white-color: #FFFFFF; 
$bacground-color: #F5F4FA;
$background-logo-color: #AFB1B8;
$background-social-media: rgba(255, 255, 255, 0.1);
$black: #000000;